.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.ant-layout-sider-children {
  flex-direction: column;
  display: flex;
}

.table-fast-spin .ant-spin-blur {
  filter: none;
  transition: none;
}

.with-table-pagination {
  border-bottom-width: 0;
}
.with-table-pagination .ant-table-pagination {
  margin-bottom: -70px;
  margin-top: 30px;
}

.tabs-schema .ant-tabs-bar {
  padding: 32px;
  padding-bottom: 0;
  padding-top: 16px;
  margin-bottom: 0;
}
