.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.ant-layout-sider-children {
  flex-direction: column;
  display: flex;
}

.table-fast-spin .ant-spin-blur {
  filter: none;
  transition: none;
}

.with-table-pagination {
  border-bottom-width: 0;
}

.with-table-pagination .ant-table-pagination.ant-pagination {
  margin-bottom: -70px;
  margin-top: 30px;
  margin-right: 16px !important;
}

.tabs-schema .ant-tabs-bar {
  padding: 32px;
  padding-bottom: 0;
  padding-top: 16px;
  margin-bottom: 0;
}
/*
.document-tabs .ant-tabs-bar {
  margin-left: 32px;
}

.document-tabs .ant-tabs-tabpane {
  padding: 0 32px;
  padding-bottom: 64px;
  min-width: 45vw;
  max-width: 1170px;
  margin: 0 auto;
}

.document-tabs .bf-content {
  height: auto !important;
  padding-bottom: 0;
}

.document-tabs .bf-container .public-DraftEditor-content > div {
  padding-bottom: 0;
}

.document-tabs .bf-controlbar {
  box-shadow: inset 0 -1px 0 0 rgb(217, 217, 217);
} */
