.jstree li { background-image:url(http://static.jstree.com/v.1.0pre/themes/default/d.gif); background-repeat:no-repeat; background-color:transparent; }
.jstree li { background-position:-90px 0; background-repeat:repeat-y; position: relative; margin-left: 0 !important; }
.jstree li.jstree-last { background:transparent; }
.jstree .jstree-open > ins { background-position:-72px 0; }
.jstree .jstree-closed > ins { background-position:-54px 0; }
.jstree .jstree-leaf > ins { background-position:-36px 0; }
.jstree .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree a .jstree-icon { width: 14px; height: 14px; position: relative; left: auto; top: auto; }
.jstree a.jstree-loading .jstree-icon { background:url(http://static.jstree.com/v.1.0pre/themes/default/throbber.gif) center center no-repeat !important; }
.jstree .jstree-no-icons li > a > ins { display: none; }
.jstree li,
.jstree .jstree-leaf > ins { background:transparent; }
.jstree .jstree-open > ins { background-position:-18px 0; }
.jstree li > ins { background: none !important; position: absolute; top: 0; left: 0; }
.jstree .jstree-closed > ins:after,
.jstree .jstree-open > ins:after { display: inline-block; width: 0; height: 0; vertical-align: top; border-bottom: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid transparent; border-left: 4px solid #000; content: ""; margin-top: 5px; margin-left: 3px; }
.jstree .jstree-open > ins:after { border-bottom: 5px solid #000; border-right: none; border-top: 5px solid transparent; border-left: 5px solid transparent; margin-top: 1px; margin-left: 2px; }
.jstree li a { display: block; background: none; border: none; padding: 2px 15px; padding-top: 2px !important; padding-bottom: 2px !important; }
.jstree li a:hover, .jstree a.jstree-hovered { background: #dedede !important; border: none; padding-top: 1px; padding-bottom: 1px; border-left: 3px solid transparent; }
.jstree li a.jstree-clicked { padding: 1px 15px;  padding-left: 12px; font-weight: bold; color: #dd4b39; text-shadow: none; background-color: transparent; border-left: 3px solid #dd4b39; }
.jstree .jstree-clicked { border: none; }
.jstree .jstree-search { font-style:italic; }
.jstree a.jstree-search { color:aqua; }
.jstree .jstree-locked a { color:silver; cursor:default; }
#vakata-contextmenu { display:block; visibility:hidden; left:0; top:-200px; position:absolute; margin:0; padding:0; min-width:180px; background: none; border: none; z-index:10000; *width:180px; }
#vakata-contextmenu > .dropdown-menu { display: block; }
#vakata-contextmenu .dropdown-menu li ins { display: none; }

.jstree-dnd-helper, #vakata-dragged { position: relative; padding: 4px 30px !important; margin: 0; color: #333; text-shadow: 0 1px 0 #fff; white-space: nowrap; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; text-align: center; vertical-align: middle; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding; cursor: default; background-color: #f3f3f3; background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1)); background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1); background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1); background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0); border: 1px solid #dcdcdc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.jstree-dnd-helper .jstree-ok,
.jstree-dnd-helper .jstree-invalid { display: inline-block; width: 14px; height: 14px; line-height: 14px; vertical-align: text-top; background-image: url("../img/glyphicons-halflings.png") !important; background-position: 14px 14px !important; background-repeat: no-repeat !important; margin-top: 1px; background-position: -288px 0 !important; background-color: transparent !important; }
.jstree-dnd-helper .jstree-invalid { background-position: -312px 0 !important; }

#jstree-marker.jstree { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }


.jstree ul li > a > ins.jstree-icon { position: relative; }
.jstree ul li.jstree-open > a > ins.icon-folder-close { background-position: -408px -120px; }


body #jstree-marker-line { padding: 0; border: none; box-shadow: none; width: 270px; margin-left: -18px; background: #bababa; }
body #jstree-marker { display: inline-block; width: 0; height: 0; vertical-align: top; border-bottom: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid transparent; border-left: 4px solid #666666; content: ""; margin-top: 1px; margin-left: -14px; }

/** HOOLY SHIT, what are you trying to do here... allow left border without before/after...! **/
.jstree {}
.jstree ul li a { padding-left: 18px !important; border-left: 3px solid transparent; }
.jstree ul li ins { top: 0px; left: 3px; }
.jstree ul li ul li a { padding-left: 30px !important; }
.jstree ul li ul li ins { left: 15px; }
.jstree ul li ul li ul li a { padding-left: 43px !important; }
.jstree ul li ul li ul li ins { left: 28px; }
.jstree ul li ul li ul li ul li a { padding-left: 56px !important; }
.jstree ul li ul li ul li ul li ins { left: 41px; }
.jstree ul li ul li ul li ul li ul li a { padding-left: 72px !important; }
.jstree ul li ul li ul li ul li ul li ins { left: 54px; }
.jstree ul li ul li ul li ul li ul li ul li a { padding-left: 82px !important; }
.jstree ul li ul li ul li ul li ul li ul li ins { left: 67px; }
