@import "font-awesome.css";

.prime-region { min-height: 40px; }
.prime-drop { display: none; }
.prime-region-item { position: relative; min-height: 20px; }
.prime-region-item:hover { outline: 1px dashed #faa328; }
.prime-region-item-active,
.prime-region-item-active:hover { outline: 1px solid #faa328; box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.1); }
.prime-region-actions { display: none; position: absolute; top: -22px; right: -1px; background: #faa328; list-style: none; padding: 0px 2px; font-size: 14px; box-shadow: 1px 0px 1px rgba(0,0,0, 0.1); }
.prime-region-actions li { float: left; padding: 0; line-height: 1em; }
.prime-region-actions li a { color: #fff; padding: 2px 4px; line-height: 22px; text-decoration: none; text-shadow: 1px 1px rgba(0,0,0,0.2); }
.prime-region-actions li a i { font-size: 11px; }
.prime-region-actions li a:hover { background-color: #e98b06; }
.prime-region-content { min-height: 40px; }
.prime-region-item-active > .prime-region-actions { display: block !important; }
.prime-drag .prime-drop { display: block !important; height: 40px; text-align: center; font-size: 12px; line-height: 40px; box-shadow: inset 0 0 10px rgba(0,0,0,0.1); color: #999;}
.prime-drag .prime-region { box-shadow: 0 0 1px 2px #faa328; }
.prime-drag .prime-drop.ui-state-active { box-shadow: inset 0 0 10px rgba(0,0,0,0.3); }
.cke_editable { outline: none !important; }