@import "font-awesome.css";
.prime-region {
	min-height: 35px;
}
.prime-region-item {
	position: relative;
	min-height: 35px;
	outline: 1px dashed rgba(221, 75, 57, 0.15); /** outlines bearly visible **/
}
.prime-region-item:hover,
.prime-drag .prime-region-item.prime-region-empty {
	outline: 1px dashed #dd4b39;
}
.prime-region-item-active,
.prime-region-item-active:hover {
	outline: 1px solid #dd4b39;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.prime-region-actions {
	margin: 0;
	display: none;
	position: absolute;
	top: -22px;
	right: -1px;
	background: #dd4b39;
	list-style: none;
	padding: 0px 2px;
	font-size: 14px;
	box-shadow: 1px 0px 1px rgba(0,0,0, 0.1);
}
.prime-region-actions li {
	float: left;
	padding: 0;
	line-height: 1em;
}
.prime-region-actions li a {
	color: #fff;
	padding: 0;
	line-height: 22px;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	width: 20px;
	display: block;
	text-align: center;
}
.prime-region-actions li a i {
	font-size: 14px;
}
.prime-region-actions li a:hover {
	background-color: #bb3322;
}
.prime-region-content {
	min-height: 40px;
}
.prime-region-item-active > .prime-region-actions {
	display: block !important;
}
.prime-drop {
	width: 100%;
	height: 35px;
	left: 0;
	text-align: center;
	color: rgba(194, 154, 148, 1);
	z-index: 999;
	line-height: 35px;
	font-family: verdana;
	font-size: 15px;
}
.prime-drop-above {
	top: 0;
	box-shadow: inset 0 -30px 20px rgba(179, 113, 105, 0.1);
	border-top: 2px solid #dd4b39;
}
.prime-drop-below {
	bottom: 0;
	box-shadow: inset 0 30px 20px rgba(179, 113, 105, 0.1);
	border-bottom: 2px solid #dd4b39;
}
.prime-drop-active {
	display: block !important;
}
.prime-region-drag {
	opacity: 0.5;
}
.prime-region-drag .prime-drop {
	display: none !important;
}
.prime-region-item.prime-region-empty,
.prime-region-item.prime-region-empty:hover {
	outline: none;
}
.prime-region-item.ui-state-active {
	outline: 1px dashed #dd4b39;
}
.cke_editable {
	outline: none !important;
}
input.cke_dialog_ui_input_text, input.cke_dialog_ui_input_password, textarea.cke_dialog_ui_input_textarea {
	color: #333 !important;
}