body, html { height: 100%; }

/** panels **/
body > .fullscreen {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
}
body > .fullscreen > .panel-left,
body > .fullscreen > .panel-center,
body > .fullscreen > .panel-right {
	z-index: 5;
	position: absolute;
	top: 0;
	height: 100%;
	width: 0;
	opacity: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: all 300ms;
	   -moz-transition: all 300ms;
	        transition: all 300ms;
}

/** center panel **/
body > .fullscreen > .panel-center {
	z-index: 6;
	position: relative;
	top: auto;
	width: auto;
	opacity: 1;
	overflow: hidden;
}
body > .fullscreen.with-panel-left > .panel-center {
	margin-left: 220px;
}
body > .fullscreen.with-panel-right > .panel-center {
	margin-right: 220px;
}

/** left panel **/
body > .fullscreen > .panel-left {
	left: 0;
	overflow: auto;
}
body > .fullscreen.with-panel-left > .panel-left {
	width: 220px;
	opacity: 1;
	z-index: 10;
}

/** right panel **/
body > .fullscreen > .panel-right {
	right: 0;
	overflow: auto;
}
body > .fullscreen.with-panel-right > .panel-right {
	width: 220px;
	opacity: 1;
	z-index: 10;
}
.ui-draggable { z-index: 1100; background: #fff; }

/** font awesome fixes **/

/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > .fa,
.nav-list > .active > a > .fa,
.navbar-inverse .nav > .active > a > .fa,
.dropdown-menu > li > a:hover > .fa,
.dropdown-menu > .active > a > .fa,
.dropdown-submenu:hover > a > .fa {
  background-image: none;
}
.dropdown-menu > li > a > .fa {
  position: absolute;
  left: 10px;
  top: 4px;
  color: #777;
  font-size: 14px;
}
.dropdown-menu > .disabled > a > .fa {
  color: #bbb;
}

/** navbar **/
.navbar-fullscreen {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.navbar-fullscreen .nav-user img {
	margin-top: -6px;
	margin-bottom: -3px;
	margin-left: 6px;
	margin-right: 2px;
	border: 1px solid #333;
}
.navbar-fullscreen .navbar-brand {
	padding: 0;
	width: 220px;
	text-align: left;
	padding-left: 13px;
	padding-top: 5px;
}
.navbar-default {
	margin-bottom: 0;
}
.navbar-nav .fa {
	font-size: 14px;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 1px;
}

/** alerts position **/
.alert.top-center {
	display: inline-block;
	position: absolute;
	font-size: 13px;
	padding: 3px 12px;
	top: 30px;
	left: 50%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
	z-index: 16;
}

/** fullscreen application **/
.fullscreen-ui { position: relative; width: 100%; height: 100%; }
.fullscreen-ui .navbar-toolbar { border-width: 1px 0; border-radius: 0; padding: 10px 20px; border-color: #ebebeb; }
.fullscreen-ui > .scrollable { position: absolute; top: 58px; left: 0; right: 0; bottom: 0; overflow: auto; }
.fullscreen-ui .navbar-toolbar .select2-container { margin-top: 4px; }

/** form small **/
.form-small label { font-size: 12px; margin-bottom: 1px; }
.form-small .nav-header { padding-left: 0; margin: 15px 0 5px 0; border-top: 1px solid #e5e5e5; padding-top: 8px; }
.form-small .nav-header:first-child { margin-top: 0; border-top: 0; padding-top: 0; }
.form-small .control-group { margin-bottom: 0px; }
.form-small .select2-choice { background: #ffffff; }
.form-small .form-actions { padding: 0; background: none; }
.form-small .controls > .radio:first-child {}

/** form fieldset **/
.form-fieldset {}
.form-fieldset .nav-header { padding: 6px 20px; border-bottom: 1px solid #eee; background: #fafafa; }
.form-fieldset .form-group { padding: 14px 20px; border-bottom: 1px solid #dadada; margin: 0; }

/** modal footer fix **/
.modal .modal-dialog { padding-top: 50px; }
.modal .modal-body { padding: 20px; }
.modal .modal-body .btn-toolbar { margin-top: 20px; }
.modal .modal-title { font-size: 16px; line-height: 1em; }
.modal-footer { padding: 11px 20px 10px; margin-top: 0; }

/** button fixes **/
.btn:focus { outline: 0; }
.btn-toolbar .btn > .fa { font-size: 14px; line-height: 14px; color: #666; -webkit-transition: color 330ms; }
.btn-toolbar .btn:hover > .fa,
.btn-toolbar .btn:focus > .fa { color: #444; }
.btn-group > .btn-sm.dropdown-toggle {
	padding: 3px 8px;
}

/** tables **/
.table th,
.table td { border-color: #ebebeb; }
.table thead tr th { font-size: 11px; text-transform: uppercase; background: #fff; border-bottom: 1px solid #e5e5e5; vertical-align: middle; padding-top: 10px; padding-bottom: 10px; }
.table thead tr th a { color: #888; text-decoration: none; }
.table .header-fixed { position: fixed; top: 0; z-index: 100; opacity: 1 !important; }
.table .header-fixed > tr > th { border-top: 0; outline: 0; }
.scrollable > .table { margin-bottom: 0; }
.table .table-header-asc,
.table .table-header-desc { color: #DD4B39; }
.table thead  i { display: none; }
.table thead .table-header-asc i,
.table thead .table-header-desc i { display: inline; padding-top: 3px; padding-right: 3px; color: #949494; font-size: 11px; }
.table thead .table-header-desc .fa-chevron-down:before { content: "\f077"; }
.table thead.header-fixed:after { -webkit-transition: all ease 200ms; content: ""; display: block; position: absolute; bottom: 0px; left: 0; right: 0; height: 4px; background: transparent; border-bottom: 1px solid #ebebeb; -webkit-box-shadow: 0 0px 3px -2px rgba(0,0,0,0.1); }
.table.scrolled thead.header-fixed:after { -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.125); }
.table tbody tr.active td,
.table tbody tr.active th { background-color: #ffc; }
.table-sortable thead tr th { cursor: pointer; }
.table-sortable thead tr th.sorter-false { cursor: default; }
.table .reorder-handle { cursor: move; font-size: 14px; color: #888; text-align: center; padding-right: 15px; }
.table .reorder-handle:hover { color: #333; }
.table .noreorder { color: #ddd; cursor: move; font-size: 14px; text-align: center; padding-right: 15px; }
.table-sortable colgroup { display: none !important; }

/** module list **/
.prime-module-list { margin: 0 -10px; }
.prime-module-list .list-group { height: 250px; overflow: auto; border: 1px solid #ddd; background: #fff; }
.prime-module-list .list-group-item { border-bottom: 0; border-left: 0; border-right: 0; padding-right: 5px; }
.prime-module-list .list-group-item:first-child { border-top: 0; }

/** tree **/
.nav-tree .list-group-item.active:hover, .list-group-item.active:focus {
	background: none;
}
.nav-tree .list-group-item.active > .list-group {
	margin-left: -3px;
}
.nav-tree .list-group-item.active {
	border-left-color: #dd4b39 !important;
}
.nav-tree .list-group-item.active > .caret {
	left: -3px;
}
.nav-tree .list-group-item:last-child {
	margin-bottom: -1px;
}
.nav-tree .list-group-item.primefile a {
	color: #A05551;
	opacity: 0.9;
}
.nav-tree .list-group-item.primefile a span i {
	color: #A05551;
}
.ui-droppable-placeholder { font-weight: bold; }

/** scrollable **/
.scrollable::-webkit-scrollbar {
	height: 10px;
}

/** select2 **/
.select2-container .select2-choice {
	font-weight: normal;
}
.select2-container-multi .select2-choices .select2-search-choice {
	display: inline;
	font-size: 75%;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #4787ed;
	font-size: 85%;
	border-radius: 0;
	padding-right: 24px;
}
.select2-search-choice-close {
	color: #fff;
	top: 0;
	right: 0;
	height: 21px;
	line-height: 21px;
	width: 20px;
	color: #fff;
}
.select2-search-choice-close:hover {
	background: #3078eb;
	color: #fff !important;
}

/** nav tree **/
.nav-tree.scrollable {
	border: 1px solid #e5e5e5;
	margin: 0 -1px;
	overflow-y: hidden;
	overflow-x: auto;
	background: #fff;
}
.list-group-header {
	padding: 4px 10px;
}
.nav-tree li span                { margin-left: 7px;  }
.nav-tree li li b                { margin-left: 8px;  }
.nav-tree li li span             { margin-left: 23px; }
.nav-tree li li li b             { margin-left: 18px; }
.nav-tree li li li span          { margin-left: 33px; }
.nav-tree li li li li b          { margin-left: 28px; }
.nav-tree li li li li span       { margin-left: 43px; }
.nav-tree li li li li li b       { margin-left: 38px; }
.nav-tree li li li li li span    { margin-left: 53px; }
.nav-tree li li li li li li b    { margin-left: 48px; }
.nav-tree li li li li li li span { margin-left: 63px; }


/** vertical tabs **/
.modal-body .tabbable {
	margin: -20px;
}
.modal-body .tabs-left > .nav-tabs {
	margin-top: -1px;
}
.modal-body .tabbable .tab-content > .active {
	padding: 20px;
}
@media screen and (min-width: 768px) {
	.tabs-left > .nav-tabs {
	  border-bottom: 0;
	}
	.tabs-left > .nav-tabs > li {
	  float: none;
	}
	.tabs-left > .nav-tabs > li > a {
	  min-width: 130px;
	  margin-right: 0;
	  margin-bottom: 3px;
	}
	.tabs-left > .nav-tabs,
	.tabs-left > .nav-pills {
	  float: left;
	  margin-right: 19px;
	  border-right: 1px solid #ddd;
	}

	.tabs-left > .nav-tabs > li > a,
	.tabs-left > .nav-pills > li > a {
	  margin-right: -1px;
	}

	.tabs-left > .nav-tabs > li > a:hover,
	.tabs-left > .nav-tabs > li > a:focus {
	  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
	}
	.tabs-left > .nav-tabs .active > a,
	.tabs-left > .nav-tabs .active > a:hover,
	.tabs-left > .nav-tabs .active > a:focus {
	  border-color: #ddd transparent #ddd #ddd;
	}
	.modal-dialog {
		width: 640px;
	}
	.modal-body .tabs-left > .nav-tabs {
	  width: 140px;
	}
	.modal-body .tabs-left > .nav-tabs .active > a,
	.modal-body .tabs-left > .nav-tabs .active > a:hover,
	.modal-body .tabs-left > .nav-tabs .active > a:focus {
		border-left: 0;
	}
	.modal-body .tabbable .tab-content > .active .checkbox,
	.modal-body .tabbable .tab-content > .active .radio {
		margin-top: 0;
	}
	.modal-body .tabbable .tab-content {
		margin-left: 139px;
		min-height: 240px;
		border-left: 1px solid #ddd;
	}
}
.modal .modal-title {
	margin-bottom: 0;
}

.password-strength {
	float: right;
	width: 50%;
	border-color: #d9d9d9;
	height: 9px;
	margin-top: 4px;
	padding: 2px;
}

/** grid group **/

.grid-group {
}
.grid-group-item {
	display: table;
	width: 243px;
	height: 249px;
	position: relative;
	float: left;
}
.grid-group-item .grid-group-item-selection {
	vertical-align: middle;
	display: inline-block;
	padding: 1px;
	padding-right: 1px;
	margin: 0 auto;
}
.grid-group-item-bottom {
	height: 234px;
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 8px;
}
.grid-group-item .grid-group-item-bottom .grid-group-item-selection {
	text-align: center;
	min-width: 50px;
	min-height: 50px;
}
.grid-group-item .grid-group-item-selection input[type=checkbox] {
	position: absolute;
	display: none;
}
.grid-group-item .grid-group-item-selection:active {
	outline: 1px solid #4d90f0;
}
.grid-group-item .grid-group-item-selection:hover,
.grid-group-item.selected .grid-group-item-selection {
	background: #f6ebae;
}
.grid-group-item .grid-group-item-selection:hover input[type=checkbox],
.grid-group-item.selected .grid-group-item-selection input[type=checkbox] {
	display: block;
	box-shadow: 0 0 0 4px #f6ebae;
	margin: 4px;
	border-radius: 0;
	background: #f6ebae;
}
.grid-group-item .grid-group-item-selection:hover img,
.grid-group-item.selected .grid-group-item-selection img {
	box-shadow: none;
	border-color: #f6ebae;
}
.grid-group-item img {
	max-width: 223px;
	max-height: 205px;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 1px;
	-webkit-box-shadow: 3px 3px 0 -1px #ddd;
	-moz-box-shadow: 3px 3px 0 -1px #ddd;
	box-shadow: 3px 3px 0 -1px #ddd;
}
.grid-group-item .grid-group-item-caption {
	display: table-row;
	padding: 10px;
	text-align: center;
	height: 0;
}
.text-overflow {
	display: block;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-group-item.ui-draggable-dragging {
	opacity: 0.85;
}
.list-group-item.ui-draggable-dragging .list-group-item-text {
	display: none;
}

/** ui selectable **/
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted #f6ebae;
	background: rgba(246, 235, 174, 0.5);
}
.grid-group-item.ui-selecting .grid-group-item-selection {
	outline: 1px solid #4d90f0;
}




@media screen and (max-width: 768px) {
	body > .fullscreen.with-panel-left > .panel-left {
		width: auto;
		position: relative;
		height: auto;
		margin-bottom: 0;
	}
	body > .fullscreen.with-panel-right > .panel-right {
		display: none;
	}
	body > .fullscreen.with-panel-left > .panel-center {
		position: relative;
		height: auto;
		padding: 0;
		margin: 0;
	}
	body > .fullscreen.with-panel-left > .panel-center iframe {
		min-height: 320px;
	}
	.fullscreen-ui {
		height: auto;
	}
	.fullscreen-ui .navbar-toolbar {
		margin-bottom: 0;
	}
	.fullscreen-ui > .scrollable {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
	}
	.table .header-fixed {
		display: none;
	}
	.table thead {
		opacity: 1 !important;
	}
	.modal-dialog {
		width: auto !important;
	}
}
